name: PR Lint

on:
  pull_request:
    types: 
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pr-yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      # - name: Install yamllint
      #   run: pip install yamllint

      - name: Lint yaml APIs
        run: yamllint -c .github/workflows/.yamllint *.yaml
